* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #ddeac1;
  --secondary-color: #494449;
  --third-color: #eeefeb;
  --main-font: "Poppins", sans-serif;
  --Secondary-font: "Dancing Script";
}

body {
  position: relative;
  height: 100vh;
}

header {
  margin: 0 auto;
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

nav {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: var(--main-color);
  margin: 0 auto;
}

.nav-logo h1 {
  font-family: var(--Secondary-font);
  font-weight: bold;
  font-size: 40px;
  color: var(--secondary-color);
}

.nav-right-section ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.nav-right-section ul li {
  list-style: none;
  font-family: var(--main-font);
  font-size: 20px;
}

.nav-right-section ul li a {
  text-decoration: none;
  color: var(--secondary-color);
}

.login-section {
  background-color: var(--main-color);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.login-section a {
  text-decoration: none;
  font-size: 20px;
  font-family: var(--main-font);
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: var(--secondary-color);
  font-size: 30px;
}

.slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slider figure img {
  float: left;
  width: 20%;
  height: 100vh;
  object-fit: cover;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  animation: anim 20s infinite linear;
}

.slide-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--main-color);
  background: rgba(0, 0, 0, 0.596);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-cover h1 {
  font-size: 100px;
}

@keyframes anim {
  0% {
    left: 0%;
  }
  10% {
    left: 0%;
  }
  12% {
    left: -100%;
  }
  22% {
    left: -100%;
  }
  24% {
    left: -200%;
  }
  34% {
    left: -200%;
  }
  36% {
    left: -300%;
  }
  46% {
    left: -300%;
  }
  48% {
    left: -400%;
  }
  58% {
    left: -400%;
  }
  60% {
    left: -300%;
  }
  70% {
    left: -300%;
  }
  72% {
    left: -200%;
  }
  82% {
    left: -200%;
  }
  84% {
    left: -100%;
  }
  94% {
    left: -100%;
  }
  96% {
    left: 0%;
  }
}

.popular-dishes {
  margin: 0 auto;
  padding: 100px 0;
  background-color: var(--third-color);
}

.main-titles {
  font-size: 60px;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #727272;
  line-height: 0.1em;
  margin: 10px 0 20px;
  background-color: var(--third-color);
}

.main-titles span {
  background: var(--third-color);
  padding: 0 10px;
  font-family: var(--Secondary-font);
}

.popular-dishes-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 30px;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 100px;
}

.dishe {
  width: 400px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 30px var(--main-color);
  position: relative;
}

.dishe img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.dishe-title {
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

.dishe-description {
  padding: 20px 20px;
}

.dishe-popular-tag {
  background-color: red;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  border-bottom-left-radius: 10px;
}

.dishe-popular-tag p {
  font-style: italic;
  font-size: 18px;
}

.more-dishes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.btn {
  border: none;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

.dishes-menu-btn {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 500ms;
}

.dishes-menu-btn:hover {
  .arrow-icon {
    transform: translateX(8px);
  }
}

.arrow-icon {
  transition: all 500ms;
  color: white;
}

.review-section {
  max-width: 1280px;
  height: 800px;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
}

.review-main-text {
  font-size: 30px;
  font-weight: bold;
}

.review-second-text {
  font-size: 70px;
  font-weight: bolder;
  font-family: var(--Secondary-font);
  width: 400px;
}

.review-right-section {
  width: 100%;
  position: relative;
}

.review-dummy {
}

.first-dummy,
.second-dummy,
.third-dummy {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  object-fit: cover;
}

.first-dummy {
  position: absolute;
  left: 200px;
  box-shadow: 20px 5px 0px var(--main-color);
}

.second-dummy {
  position: absolute;
  left: 400px;
  top: 200px;
  box-shadow: -20px -5px 0px var(--main-color);
}

.third-dummy {
  position: absolute;
  bottom: 10px;
  left: 200px;
  box-shadow: -20px 5px 0px var(--main-color);
}

.review-left-section {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.component-card {
  max-width: 800px;
  /* box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.151); */
  border-radius: 20px;
  border: 5px dotted red;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.component-card-top p {
  font-size: 20px;
}

.component-card-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback-owner-name {
  font-size: 25px;
  font-weight: bold;
}

.feedback-rating {
  width: 200px;
}

.double-quotes {
  background-color: var(--main-color);
  width: 100px;
  height: 100px;
  padding: 20px;
  border-radius: 100%;
  position: absolute;
  top: -40px;
  right: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.double-quotes img {
  width: 100%;
}

/* facilities-styles */

.facilities-title {
  font-family: var(--Secondary-font);
  font-size: 60px;
  text-align: center;
  padding-top: 100px;
}

#facilities {
  margin-bottom: 1000px;
}


.facilities-content{
 display: grid;
 max-width: 1280px;
 margin: 0 auto;
}

.content-top, .content-bot{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-top-left, .content-bot-left{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-top-right, .content-bot-right{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.facility-image{
  width: 350px;
  height: 350px;
}

.facility-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}





footer {
  margin-top: 500px;
}
