:root {
  --main-color: #e4e9ec;
  --secondary-color: #875f59;
  --third-color: #eeefeb;
  --positive-color: #5cb85c;
  --negative-color: #e65b65;
  --fade-font-color: rgb(104, 104, 104);
  --main-font: "Poppins", sans-serif;
  --Secondary-font: "Dancing Script";
  --mobile-font-size: 40px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.checkout-container {
  background-color: var(--main-color);
  max-width: 1280px;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-head-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: var(--Secondary-font);
}

.shopping-cart {
  display: flex;
  flex-direction: column;
}

table {
  border: 1px solid white;
  border-collapse: collapse;
}

thead {
  background-color: #875f59;
}

th {
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-weight: normal;
}

th,
td {
  border: 1px solid var(--main-color);
  padding: 10px;
  text-align: center;
}

tbody {
  background-color: white;
}

.data-image {
  height: 100px;
  width: 150px;
  object-fit: cover;
  border-radius: 5px;
}

form {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.quantity-change {
    width: 100px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid gray;
  text-align: center;
}

.item-update-btn {
  background-color: var(--positive-color);
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.item-remove-btn {
  background-color: #e65b65;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-btn {
  display: inline-block;
}

.cart-btn a {
  width: 280px;
  padding: 5px 15px;
  background-color: var(--positive-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: white;
  font-size: 18px;
  margin: 0 auto;
}

.cart-btn a span {
  color: white;
}

.disabled {
  pointer-events: none;
  background-color: var(--red);
  opacity: 0.5;
  user-select: none;
}
