/* css main variables */
:root {
  --main-color: #e4e9ec;
  --secondary-color: #875f59;
  --third-color: #eeefeb;
  --positive-color: #5cb85c;
  --negative-color: #e65b65;
  --main-font: "Poppins", sans-serif;
  --Secondary-font: "Dancing Script";
  --mobile-font-size: 40px;
}

a {
  text-decoration: none;
}

.view-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* table container */
.outer-wrapper {
  background-color: var(--main-color);
  margin-top: 150px;
  border-radius: 10px;
  height: 700px;
  overflow-y: scroll;
  padding: 25px;
}

/* table with data */
.inner-wrapper {
  color: black;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

/* .cart-head-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: var;
} */

table {
  border: 1px solid white;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: -25px;
  height: 50px;
}

th {
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-weight: normal;
}

.inner-wrapper {
  max-height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  margin: 20px;
}

th,
td {
  border: 1px solid var(--main-color);
  padding: 10px;
  text-align: center;
}



.delete-icon {
  color: var(--negative-color);
  font-size: 25px;
  cursor: pointer;
}

.edit-icon {
  color: var(--positive-color);
  font-size: 25px;
  cursor: pointer;
}

.data-image {
  height: 100px;
  width: 150px;
  object-fit: cover;
  border-radius: 5px;
}

/* Delete pop message styles */
.delete-pop-up {
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(36, 36, 36, 0.897);
  border-radius: 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.js-pop-up-message {
  width: 250px;
  text-align: center;
  font-weight: bold;
}

.btn-section {
  display: flex;
  gap: 20px;
}

.btn {
  font-weight: normal;
  font-size: 18px;
  width: 100px;
}
.btn:hover {
  box-shadow: 0px 0px 10px rgba(66, 66, 66, 0.377);
}

.delete-yes-btn {
  background-color: var(--negative-color);
}

.delete-no-btn {
  background-color: var(--positive-color);
}
.display-off {
  display: none;
}
