:root {
    --main-color: #E4E9EC;
    --secondary-color: #875F59;
    --third-color: #eeefeb;
    --main-font: "Poppins", sans-serif;
    --Secondary-font: "Dancing Script";
    --mobile-font-size:40px;
  }

main{
    padding-top: 80px;
}

.menu-main-title{
    font-family: var(--Secondary-font);
    font-size: 70px;
    text-align: center;
    margin-top: 50px;
}

.menu-container{
    max-width: 1280px;
    margin: 0 auto;
}

.categories-title{
    font-size: 18px;
    font-weight: bold;
    color: var(--secondary-color);
}

.menu-categories{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.menu-categories a{
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--main-color);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 250ms;
}

.menu-categories a:hover{
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.category-title{
    font-size: 30px;
    font-family: var(--Secondary-font);
}